# Patterns in **Python**

Right Triangle

In [1]:
n=int(input())
for i in range(1,n+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

5
*
* *
* * *
* * * *
* * * * *

Opposite of Right Triangle

In [2]:
n=int(input())
for i in range(0,n+1):
  for j in range(i,n+1):
    print("*",end=" ")
  print()

5
* * * * * *
* * * * *
* * * *
* * *
* *
*

Odd Right Triangle

In [4]:
n=int(input())
k=1
for i in range(0,n+1):
  for j in range(1,k+1):
    print("*",end=" ")
  k+=2
  print()

4
*
* * *
* * * * *
* * * * * * *
* * * * * * * * *

Triangle

In [6]:
n=int(input())
for i in range(0,n):
  for j in range(0,n-i-1):
    print(end=" ")
  for j in range(0,i+1):
    print("*",end=" ")
  print()

4
   *
  * *
 * * *
* * * *

Opposite Triangle

In [7]:
n=int(input())
for i in range(n,0,-1):
  for j in range(0,n-i):
    print(end=" ")
  for j in range(0,i):
    print("*",end=" ")
  print()

4
* * * *
 * * *
  * *
   *